<h1>Profile</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name.html_safe %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to('website', @user.website) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
